.home-page .footer {
    background-color: #021526;
    color: #fff;
    display: flex;
    padding: 20px 0;
    justify-content: center;
    align-items: center;
}

.home-page .footer .inner-footer {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.home-page .footer .inner-footer .footer__left {
    display: flex;
    align-items: center;
}