body {
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

.sidebar {
    position: relative;
    top: 0;
    left: 0;
    /* height: 100%; */
    min-height: 100vh;
    width: 78px;
    padding: 6px 14px;
    background-color:#1E201E;
    transition: all 0.4s ease;
}

.sidebar.active {
    width: 280px;
    transition: all 0.4s ease;
}

.sidebar .logo_content .logo {
  color: #fff;
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  margin-bottom: 20px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
  white-space: nowrap;
}

.sidebar.active .logo_content .logo {
  transition: all 0.4s ease;
  opacity: 1;
  pointer-events: none;
}

.logo_content .logo .logo_name {
    margin-left: 20px;
    font-size: 18px;
    font-weight: 700;
}

.sidebar #btn {
  position: absolute;
  border-radius: 50%;
  color: #fff;
  left: 55%;
  top: 6px;
  font-size: 25px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  transform: translateX(-50%);
  cursor: pointer;

  /* Hiệu ứng chuyển màu mượt mà */
  transition: background-color 0.3s ease, color 0.3s ease;
}

#btn:hover {
  height: 50px;
  width: 50px;
  text-align: center;
  color: #1d1b31;
  background-color: #fff;
}

.sidebar.active #btn {
  left: 85%;
}

.sidebar ul li {
  position: relative;
  list-style: none;
  height: 50px;
  width: 100%;
  margin: 0 5px;
  line-height: 50px;
  margin-bottom: 16px;
}

.sidebar ul li .tooltip {
  position: absolute;
  left: 130px;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 6px;
  padding: 5px 10px; /* Thêm khoảng cách nội dung */
  background-color: #fff;
  line-height: 20px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0s;
  opacity: 0;
  pointer-events: none;
  display: block;
  /* white-space: nowrap; */
}

.sidebar.active ul li .tooltip {
  display: none;
}

.sidebar ul li:hover .tooltip {
  transition: all 0.4 s ease;
  opacity: 1;
  top: 50%;
}

.sidebar ul li .bx-search {
  position: absolute;
  z-index: 99;
  color: #fff;
  font-size: 22px;
  top: 1px;
  transition: all 0.4s ease;
}

.sidebar ul li .bx-search:hover {
  background: #fff;
  color: #1d1b31;
}

.sidebar ul li input {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  border-radius: 12px;
  outline: none;
  border: none;
  background: #31363f;
  padding-left: 50px;
  font-size: 16px;
  color: #fff;
}

.sidebar ul li a {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.2s ease;
  border-radius: 12px;
  /* Ngăn cách văn bản xuống dòng => bắt nó ở trên một dòng duy nhất */
  white-space: nowrap;
}

.sidebar ul li a:hover {
  color: #11101d;
  background-color: #fff;
}

.sidebar ul li a i {
  height: 50px;
  min-width: 50px;
  border-radius: 12px;
  line-height: 50px;
  text-align: center;
}

.sidebar .links_name {
    font-size: 15px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
}

.sidebar.active .links_name {
  opacity: 1;
  pointer-events: auto;
}

.sidebar .profile_content {
  position: absolute;
  color: #fff;
  bottom: 0;
  left: 0;
  width: 100%;
}

.sidebar .profile_content .profile {
  position: relative;
  padding: 8px 12px;
  background: #31363f;
}

.sidebar .profile_content .profile_details {
  display: flex;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
  transition: all 0.2s ease;
}

.sidebar.active .profile_content .profile_details {
  transition: all 0.4s ease;
  opacity: 1;
  pointer-events: auto;
}

.sidebar .profile_details img {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 12px;
}

.sidebar .profile_details .name_role {
    margin-left: -40px;
}

.sidebar .profile_details .name {
  font-size: 15px;
  font-weight: 500;
}

.sidebar .profile_details .role {
  font-size: 13px;
  font-weight: 300;
}

.profile #log_out {
  position: absolute;
  left: 50%;
  bottom: 3px;
  text-align: center;
  transform: translateX(-50%);
  min-width: 50px;
  font-size: 20px;
  line-height: 50px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sidebar.active .profile #log_out {
  transition: all 0.4s ease;
  left: 85%;
}

#log_out:hover {
  background-color: #fff;
  color: #11101d;
  border-radius: 50%;
}
