.slick-dots {
    bottom: -200px;
}

.slick-dots li button:before {
    font-size: 10px;
}

.slick-next::before {
    content: "\27E9";
    font-size: 50px;
    color: black;
}

.slick-next {
    right: -100px;
}

.slick-prev::before {
    content: "\27E8";
    font-size: 50px;
    color: black;
}

.slick-prev {
    left: -100px;
}



/* abc */
.our-team__members .member {
    display: flex!important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.our-team__members .member .member__img {
    width: 50%;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 50px;
}

.our-team__members .member .member__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.our-team__members .member .member__info {
    margin-bottom: 20px;
}

.our-team__members .member .member__info .name {
    font-size: 22px;
    font-weight: 600;
}

.our-team__members .member .member__info .sid {
    font-size: 18px;
    font-weight: 300;
}

.our-team__members .member .member__quote {
    font-size: 18px;
    font-weight: 300;
}
