
.home-page{
    
    background-color: #000235;
    width: 100%;
    color: #fff;
    position: relative;
    overflow-x: hidden;
}

.home-page::before {
    content: "";
    position: absolute; 
    opacity: 0.4;
    background: linear-gradient(217deg, #ffffff, rgba(255, 255, 255, 0) 70.71%), linear-gradient(127deg, #ffffff, rgba(255, 255, 255, 0) 70.71%), linear-gradient(336deg, #ffffff, rgba(255, 255, 255, 0) 70.71%);
    border-radius: 50%;
    font-size: 350px;
    height: 1em;
    width: 1em;
    filter: blur(60px);
    transform: translate(200px, -50%);
}

.home-page::after {
    content: "";
    position: absolute; 
    opacity: 0.5;
    background: linear-gradient(217deg, #ffffff, rgba(255, 255, 255, 0) 70.71%), linear-gradient(127deg, #ffffff, rgba(255, 255, 255, 0) 70.71%), linear-gradient(336deg, #ffffff, rgba(255, 255, 255, 0) 70.71%);
    border-radius: 50%;
    font-size: 350px;
    height: 1em;
    width: 1em;
    filter: blur(60px);
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
}


.home-page .container {
    max-width: 1140px;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.home-page__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    margin-bottom: 130px;
}

.home-page__header .header__logo{
    font-weight: 600;
}

.home-page__header .header__menu ul {
    list-style: none;
    margin: 0;
    display: flex;
    gap: 75px;
}

.home-page__header .header__menu ul li {
    position: relative;
}

.home-page__header .header__menu ul li a{
    text-decoration: none;
    color: #fff;
}

.home-page__header .header__menu ul li::before {
    content: "";
    display: inline-block;
    border-bottom: 5px solid #fff;
    border-radius: 10px;
    width: 0;
    position: absolute;
    bottom: -10px;
    transition: width 0.3s ease;
}

.home-page__header .header__menu ul .active::before {
    width: 100%;
}

.home-page__header .header__menu ul li:hover::before {
    width: 100%;
}


.home-page__main {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.home-page__main .main__left {
    width: 40%;
}

.home-page__main .main__left .left__title {
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 20px;
}

.home-page__main .left__desc {
    font-size: 13px;
    margin-bottom: 20px;
}

.home-page__main .left__button {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.home-page__main .left__button .button {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    padding: 16px 28px;
    border: 1px solid #77B8B8;
    border-radius: 10px;
    background-color: transparent;
    width: calc(100%/2 - 10px);
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.home-page__main .left__button .button__active.button {
    background-color: #8D8CDA;
    border: 1px solid #8D8CDA;
}

.home-page__main .left__button .button-contact:hover {
    background-color: #8D8CDA;
    border: #8D8CDA;
}


.home-page__main .main__right {
    width: 50%;
}

.home-page__main .right__img {
    width: 100%;
    aspect-ratio: 4/3;
    text-align: right;
}

.home-page__main .right__img img {
    width: 80%;
    height: 100%;
    object-fit: cover;
}

.home-page .home-page__tech {
    margin-bottom: 60px;
}

.home-page__tech .desc {
    text-align: center;
    font-weight: 600;
    margin-bottom: 20px;
}

.home-page__tech .tech__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #322B66;
    padding: 20px 5px;
}

.home-page__tech .tech__item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.home-page__tech .tech__item .item__icon {
    width: 22px;
    aspect-ratio: 1/1;
    overflow: hidden;
}

.home-page__tech .tech__item .item__icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

