.main-dashboard {
  display: flex;
}

.dashboard-content {
  background-color: var(--color-grey-100);
  padding: 20px;
  overflow: scroll;
  max-width: 100%;

  display: flex;
  flex-direction: column;
  gap: 32px;
}
