Button {
    background-color: #512da8;
    border: none;
    border-radius: 1px solid transparent;
    color: #fff;
    font-size: 14px;
    padding: 10px 40px;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
    margin-top: 20px;
}

Button.hidden {
    background: transparent;
    border: 2px solid #fff;
}

/* Hiệu ứng hover cho nút bình thường */
Button:hover {
    background-color: #16325B; /* Màu nền thay đổi khi hover */
    color: #ffffff; /* Giữ màu chữ */
    transform: scale(1.05); /* Phóng to 5% */
}

/* Hiệu ứng hover cho nút ẩn */
Button.hidden:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Thêm nền mờ trắng khi hover */
    border-color: #fff; /* Giữ màu viền */
    color: #fff; /* Giữ màu chữ */
}