/* 1. body
- Màu nền: Có một gradient từ màu xám nhạt (#e2e2e2) sang màu xanh nhạt (#c9d6ff).
- Flexbox: Toàn bộ trang sử dụng flexbox để căn giữa nội dung (container) theo cả chiều dọc và chiều ngang.
- Chiều cao: height: 100vh đảm bảo body chiếm toàn bộ chiều cao của viewport.
*/
body {
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* 2. container
- Shadow: box-shadow tạo hiệu ứng đổ bóng.
- Kích thước: Chiều rộng 920px với chiều cao 620px, nhưng có thể co giãn theo màn hình với max-width: 100% và min-height: 480px.
- Position: Container được đặt ở vị trí tương đối để chứa các phần tử con với vị trí tuyệt đối.
- overflow: hidden; - Nội dung tràn sẽ bị cắt phần còn lại bên dưới sẽ bị ẩn đi
*/
.container {
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative; 
    overflow: hidden;
    width: 920px;
    height: 620px;
    max-width: 100%;
    min-height: 480px;
}

.container p {
   font-size: 14px; 
   line-height: 20px; /* Đặt khoảng cách giữa các dòng văn bản là 20 pixel, giúp tăng tính dễ đọc */
   /* Đặt khoảng cách giữa các chữ cái là 0.3 pixel, giúp văn bản không bị chật chội */
   letter-spacing: 0.3px;
   margin: 20px 0;
}

.container a {
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 0 180px;
    
}

.container a:hover {
    transform: scale(1.05);
}

.container form {
    /* Cần xem dòng này xem có cần không */
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    /* width: 100%; */
    margin-top: 20px;
}

.text {
    color: #3c009d;
    font-size: 40px;
    font-weight: 800;
}

/* Cái underline thực chất là div thôi */
.underline {
    width: 65px;
    height: 6px;
    background-color: #3c009d;
    border-radius: 9px;
}

.inputs {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.input {
    border: 1px solid #472183;
    display: flex;
    align-items: center;
    margin: auto;
    width: 330px;
    height: 50px;
    background-color: #F1F6F9;
    border-radius: 8px;
}

.input img {
    margin: 0 20px;
}

.input input {
    height: 50px;
    width: 380px;
    background: transparent;
    border: none;
    outline: none;
    color: #002;
    font-size: 16px;
}

.form-container {
    position: absolute;
    /* Cần xem dòng này có cần thiết hay không */
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in {
    /* display: none; */
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.active .sign-in {
    transform: translateX(100%);
}

.sign-up {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container.active .sign-up {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move {
    0%, 49.99% {
        opacity: 0;
        z-index: 1;
    }
    50%, 100% {
        opacity: 1;
        z-index: 5;
    }
}

.toggle-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 1000;
    height: 100%;
}

.container.active .toggle-container {
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.toggle {
    /* display: none; */
    background-color: #512da8;
    height: 100%;
    background: linear-gradient(to right, #5c6bc0, #512da8);
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.container.active .toggle {
    transform: translateX(50%);
}

.toggle-panel {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-left {
    transform: translateX(-200%);
}

.container.active .toggle-left {
    transform: translateX(0);
}

.toggle-right {
    right: 0;
    transform: translateX(0);
}

.container.active .toggle-right {
    transform: translateX(200%);
}