/* body {
    
    min-height: 100vh;
    min-width: 100vw;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

.main-sign-in-up {
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container-dn{
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative; 
    overflow: hidden;
    width: 920px;
    height: 620px;
    max-width: 100%;
    min-height: 480px;
}

.container-dn p {
   font-size: 14px; 
   line-height: 20px;
   letter-spacing: 0.3px;
   margin: 20px 0;
}

.container-dn a {
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 0 180px;
    
}

.container-dn a:hover {
    transform: scale(1.05);
}

.container-dn form {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    margin-top: 20px;
}

.text {
    color: #3c009d;
    font-size: 40px;
    font-weight: 800;
}

.text-tdn {
    font-size: 2rem;
    font-weight: bold;
}

/* Cái underline thực chất là div thôi */
.underline {
    width: 65px;
    height: 6px;
    background-color: #3c009d;
    border-radius: 9px;
}

.inputs {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.input {
    display: flex;
    align-items: center;
    width: 300px;
    height: 50px;
}

.form-container {
    position: absolute;
    /* Cần xem dòng này có cần thiết hay không */
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in {
    left: 0;
    width: 50%;
    z-index: 2;
}

.container-dn.active .sign-in {
    transform: translateX(100%);
}

.sign-up {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container-dn.active .sign-up {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move {
    0%, 49.99% {
        opacity: 0;
        z-index: 1;
    }
    50%, 100% {
        opacity: 1;
        z-index: 5;
    }
}

.toggle-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 1000;
    height: 100%;
}

.container-dn.active .toggle-container {
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.toggle {
    background-color: #512da8;
    height: 100%;
    background: linear-gradient(to right, #5c6bc0, #512da8);
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.container-dn.active .toggle {
    transform: translateX(50%);
}

.toggle-panel {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-left {
    transform: translateX(-200%);
}

.container-dn.active .toggle-left {
    transform: translateX(0);
}

.toggle-right {
    right: 0;
    transform: translateX(0);
}

.container-dn.active .toggle-right {
    transform: translateX(200%);
}

.btn-tdn {
    background-color: #512da8;
    border: none;
    border-radius: 1px solid transparent;
    color: #fff;
    font-size: 14px;
    padding: 10px 40px;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 20px;
}

.btn-tdn-2 {
    margin-top: 10px;
    padding: 8px 30px;
    border: 2px solid #fff;
    border-radius: 8px;
}

/* Hiệu ứng hover cho nút bình thường */
.btn-tdn:hover {
    background-color: #16325B; /* Màu nền thay đổi khi hover */
    color: #ffffff; /* Giữ màu chữ */
    transform: scale(1.05); /* Phóng to 5% */
}

/* Hiệu ứng hover cho nút ẩn */
.btn-tdn-2:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Thêm nền mờ trắng khi hover */
    border-color: #fff; /* Giữ màu viền */
    color: #fff; /* Giữ màu chữ */
}

.error {
    color: red;
}

.remember-container {
    position: relative;
    right: 30px;
}
  